<label for="">{{quantidade}} x {{valorMoeda}} centavos</label>
<button icon="pi pi-pw pi-plus" [disabled]="btnsDisabled" pButton type="button" (click)="aumentar()" ></button>
<button icon="pi pi-pw pi-minus" [disabled]="btnsDisabled" pButton type="button" [disabled]="btnMenos" (click)="subtrair()" ></button>
