:host /deep/ .panel .ui-panel
  .ui-panel-titlebar  {
    display: flex;
    justify-content: center;
}

 :host /deep/ .panel .ui-panel .ui-panel-content{
   height: calc(100vh - 59px);
   display: flex;
 }

 .menu{
   width: 20%;
 }

 .container{
   width: 80%;
 }
