<p-panel class="panel" header="Contas App">
  <div class="menu" >
    <p-panelMenu [model]="items" ></p-panelMenu>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</p-panel>
